<html>
<head>
  <style>
    input{display:block; margin-bottom:10px;}
  </style>
</head>

<body>
  <h1>aaa</h1>
  <h2>aaa</h2>

  <form action="validation_example.html" method="post">
    <label class="title" for="title">Title:</label>
    <br>
    <input class="input" id="title" type="text" />
    <br>
    <label class="title" for="description">Description:</label>
    <br>
    <textarea class="area" id="description"></textarea>
    <br>
    <input type="submit" value="Submit" />
  </form>
</body>
</html>