<html>
<body>
<div class="timeline">
    <div style="background-color: aliceblue;">
        <h1 style="color:rgb(6, 6, 78)">Here's your monthly update on the progress of your supported causes!</h1>
    </div>
    <div class="outer">
      {% for event in json_data.events %}
      <div class="card">
        <div class="info">
          <h3 class="title">{{ event.date }}, {{ event.title }}</h3>
          <p class="description">{{ event.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="footer">
        <div class="footer-info">
          <span>lf@humanpractice.org</span> 
          <span>+45 93 93 27 74 </span> 
          <span>humanpractice.org</span>
        </div>
        <div class="footer-thanks">
          <img src="https://github.com/anvilco/html-pdf-invoice-template/raw/main/img/heart.png" alt="heart">
          <span>Thank you!</span>
        </div>
</div>
</body>

</div>
</html>